@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin-top: 100px;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

.content {
    margin: auto;
    max-width: 800px;
}

.header {
    width: 800px;
}

strong {
    font-weight: 600
}

/* Headings */

.header_title {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
    /* background: #eee; */
    border-bottom: solid .3em #000;
    /* padding: 20px; */
}

h2 {
    font-size: 1.4em;
    margin-top: 1.4em;
    border-bottom: solid .15em #000;
}

.fitwidth {
    width: 30px;
    padding: 0 10px 0 0;
}

.service_table {
    border: #000 solid;
}

.service_table td {
    vertical-align: middle;
    border: solid;
    text-align: bottom;

}

/* BUTTONS */

.button_black {
    border: solid 3px #000;
    background-color: #000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

.button_black:hover {
    color: #000;
    background-color: #fff;

}

/* TEST */

.test_image {
    width: 25px;
}

.test_table {
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    border: solid 1px;
}

.test_tbody {
    
}

.test_table tr:nth-child(even) {
    background-color: #eee;
}

.test_td {
    padding-left: 0.8rem;
    display: block;
}

.test_th {
    padding-left: 0.8rem;
    display: block;
    text-align: left;
}


/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
*/
@media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

tr {
    margin: 0 0 1rem 0;
}
    
tr:nth-child(odd) {
    background: #da2222;
}

td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
}

td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
}

/*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/
td:nth-of-type(1):before { content: "First Name"; }
td:nth-of-type(2):before { content: "Last Name"; }
td:nth-of-type(3):before { content: "Job Title"; }
td:nth-of-type(4):before { content: "Favorite Color"; }
td:nth-of-type(5):before { content: "Wars of Trek?"; }
td:nth-of-type(6):before { content: "Secret Alias"; }
td:nth-of-type(7):before { content: "Date of Birth"; }
td:nth-of-type(8):before { content: "Dream Vacation City"; }
td:nth-of-type(9):before { content: "GPA"; }
td:nth-of-type(10):before { content: "Arbitrary Data"; }
}